{% extends 'base.html' %}
{% block title %}Работы, виды услуг и отзывы{% endblock title %}
{% block content %}
    <section class="section site-portfolio">
        <div class="container">
            <div class="row mb-5 align-items-center">
                <div class="col-md-12 col-lg-6 mb-4 mb-lg-0" data-aos="fade-up">
                    <h2>Сергей Кисляков</h2>
                    <p class="mb-0">Python - разработчик</p>
                </div>
                <div class="col-md-12 col-lg-6 text-start text-lg-end" data-aos="fade-up" data-aos-delay="100">
                    <div id="filters" class="filters">
                        <a href="#" data-filter="*" class="active">Все</a>
                        {% for category in categories %}
                            <a href="#" data-filter=".{{ category.engname }}">{{ category.rusname }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div id="portfolio-grid" class="row no-gutter" data-aos-delay="200">
                {% for work in works %}
                    <div class="item {{ work.category.engname }} col-sm-6 col-md-4 col-lg-4 mb-4">
                        <a href="{% url 'work_detail' slug=work.slug %}" class="item-wrap fancybox">
                            <div class="work-info">
                                <h3>{{ work.tile }}</h3>
                                <span>{{ work.category }}</span>
                            </div>
                            <img class="img-fluid" src="{{ work.image.url }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock content %}
